.PHB{
    text-align: center;
}


.t{
   background-color:whitesmoke ;
   color: red;


}


#selwel{
    border-radius: 10%;
    text-align: center;
}

#bombchik{
    border-radius: 10%;
    text-align: center;
}
#gorg{
   text-align: center;
   color: red;
   border-width: 100000;
}
.t3{
    text-align: center;
}

.leb{
    border-radius: 45px;
    border-color: black;
    border-style: ridge;
    border: 11110cap;
  

}
.y{
    text-align: center;
    border-radius: 10%;
    align-self: center;
}
